// Main Colour
$mainColour: #0178c6;
$mainColourLight: #c5e3f9;
$mainColourDark: #095a91;

// Secondary Colour
$secondaryColour: #e1e1e1;
$headingColour: #1d1f1d;
$offWhite: #f2f2f2;

// Most Common Text Colour
$textColour: #3b3b3b;
$textColourLight: #a5a5a5;

// White Colours:
$white100: #ffffff;
