// Main Colour
$mainColour: #0178C6;
$mainColourLight: #C5E3F9;
$mainColourDark: #095A91;

// Secondary Colour
$secondaryColour: #E1E1E1;
$offWhite: #F2F2F2;

// Most Common Text Colour
$textColour: #3B3B3B;
$textColourLight: #A5A5A5;
