// Main Colour
// $mainColour: #0178c6;
// $mainColourLight: #c5e3f9;
// $mainColourDark: #095a91;

// Secondary Colour
// $secondaryColour: #e1e1e1;
$headingColour: #e1e1e1;
$headingColourReverse: #1d1f1d;
// $offWhite: #f2f2f2;

// Most Common Text Colour
$textColour: #3b3b3b;
$textColourLight: #a5a5a5;

// White Colours:
$white100: #ffffff;
$white95: #f2f2f2;
$white90: #e6e6e6;
$white85: #d9d9d9;
$white80: #cccccc;
// ...
$white65: #a6a6a6;
$white60: #999999;

$black60: #666666;
$black65: #595959;
$black80: #333333;
$black85: #262626;
$black90: #1a1a1a;
$black95: #1a1a1a;
$black100: #000000;
