$smallBorderRadius: 3px;
$mediumBorderRadius: 10px;
$circleBorderRadius: 50%;

$transitionShort: 0.3s;
$transitionMedium: 0.6s;
$transitionLong: 0.9s;
$transitionTiming: ease-in-out;

$tabletBreakpoint: 480px;
$laptopBreakpoint: 768px;
$desktopBreakpoint: 1024px;
