$smallBorderRadius: 3px;
$mediumBorderRadius: 10px;
$circleBorderRadius: 50%;

$transitionShort: 0.3s;
$transitionMedium: 0.6s;
$transitionLong: 0.9s;
$transitionTiming: ease-in-out;

// CSS written mobile-first, therefore these breakpoints are the low
// end of their named breakpoints
$largerThanMobile: 480px;
$largerThanTablet: 768px;
$largerThanLaptop: 1024px;
