$navbarHeight: 5rem;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.DisplayFlex {
  display: flex;
  align-items: center;
  gap: 2rem;
  &.FlexColumn {
    flex-direction: column;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.LargeText {
  font-size: 200%;
}

.CursiveFont {
  font-family: Lucida Handwriting;
}

.ClosingTag {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
