$navbarHeight: 5rem;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include prefers-colour-scheme(light) {
    color: $textColour;
  }
}

// Different Display types
.DisplayBlock {
  display: block;
}
.DisplayInlinBlock {
  display: inline-block;
}
.DisplayFlex {
  display: flex;
  align-items: center;
  gap: 2rem;
  // Gaps
  &.SmallGap {
    gap: 0.5rem;
  }
  &.MediumGap {
    gap: 1rem;
  }
  // Flex Direction
  &.FlexRow {
    flex-direction: column;
    @include media-min-width($largerThanMobile) {
      flex-direction: row;
    }
  }
  &.FlexColumn {
    flex-direction: column;
  }
  &.FlexWrap {
    flex-wrap: wrap;
  }
  // Spacing
  &.JustifySpaceBetween {
    justify-content: space-between;
  }
  &.JustifySpaceAround {
    justify-content: space-around;
  }
  &.FlexEvenly > div {
    flex: 1 1;
  }
}

.FullWidth {
  width: 100%;
}

h1,
.XXLargeText {
  font-size: 200%;
  @include media-min-width($largerThanTablet) {
    font-size: 250%;
  }
}

h2,
.XLargeText {
  font-size: 200%;
  @include media-min-width($largerThanTablet) {
    font-size: 250%;
  }
}

h3,
.LargeText {
  font-size: 125%;
  @include media-min-width($largerThanTablet) {
    font-size: 150%;
  }
}

h4,
.MediumText {
  font-size: 110%;
  @include media-min-width($largerThanTablet) {
    font-size: 125%;
  }
}

h5 {
  font-size: 105%;
  @include media-min-width($largerThanTablet) {
    font-size: 115%;
  }
}

h6 {
  font-size: 102.5%;
  @include media-min-width($largerThanTablet) {
    font-size: 107.5%;
  }
}

.SmallText {
  font-size: 85%;
  @include media-min-width($largerThanTablet) {
    font-size: 90%;
  }
}

.XSmallText {
  font-size: 75%;
  @include media-min-width($largerThanTablet) {
    font-size: 80%;
  }
}

.CursiveFont {
  font-family: Lucida Handwriting;
}

.Italics {
  font-style: italic;
}

.ClosingTag {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.MarginAuto {
  margin: auto;
}

.Btn {
  &:not(.NoPadding) {
    padding: 0.25rem 0.5rem;
  }
  &.MinimalPadding {
    padding: 0rem 0.25rem;
  }
  &:not(.NoBorder) {
    border: 1px solid $white60;
    border-radius: $smallBorderRadius;
  }
  @include media-colour-scheme(color, $textColour, $white100);
  @include hover-opacity {
    cursor: pointer;
  }
  &.BtnCancel {
    @include media-colour-scheme(background-color, $white80, $black60);
  }
}

// Icon class for React-Select svg elements
.Icon {
  display: block;
}

pre,
span.pre {
  font-family: monospace;
  display: inline;
  @include media-colour-scheme(background-color, $white80, $black60);
}
