$navbarHeight: 5rem;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include prefers-colour-scheme(light) {
    color: $textColour;
  }
}

.DisplayFlex {
  display: flex;
  align-items: center;
  gap: 2rem;
  &.SmallGap {
    gap: 0.5rem;
  }
  &.MediumGap {
    gap: 1rem;
  }
  &.FlexRow {
    flex-direction: column;
    @include media-min-width($largerThanMobile) {
      flex-direction: row;
    }
  }
  &.FlexColumn {
    flex-direction: column;
  }
  &.FlexWrap {
    flex-wrap: wrap;
  }
  &.JustifySpaceBetween {
    justify-content: space-between;
  }
  &.JustifySpaceAround {
    justify-content: space-around;
  }
  .Flex {
    flex: 1 1 50%;
  }
}

.FullWidth {
  width: 100%;
}

h1,
.XXLargeText {
  font-size: 200%;
  @include media-min-width($largerThanTablet) {
    font-size: 250%;
  }
}

h2,
.XLargeText {
  font-size: 200%;
  @include media-min-width($largerThanTablet) {
    font-size: 250%;
  }
}

h3,
.LargeText {
  font-size: 125%;
  @include media-min-width($largerThanTablet) {
    font-size: 150%;
  }
}

h4,
.MediumText {
  font-size: 110%;
  @include media-min-width($largerThanTablet) {
    font-size: 125%;
  }
}

.SmallText {
  font-size: 90%;
  @include media-min-width($largerThanTablet) {
    font-size: 95%;
  }
}

.CursiveFont {
  font-family: Lucida Handwriting;
}

.ClosingTag {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.Clickable {
  cursor: pointer;
}
.Hoverable {
  @include hover-opacity;
}

.MarginAuto {
  margin: auto;
}
