// Swiper Overrides
// z-index values
.swiper {
  z-index: auto;
  .swiper-wrapper,
  .swiper-pagination {
    z-index: auto;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;

  .swiper-slide {
    padding: 2rem 0rem;
    height: initial;
  }
}

// ReactJS-Popup
.popup-content {
  padding: 0.25rem 0.5rem;
  border: 1px solid;
  border-radius: $smallBorderRadius;
  @include media-colour-scheme(background-color, $white95, $black95);
  @include animation(anvil $transitionShort $transitionBezier forwards);
}
