// Swiper Overrides
// z-index values
.swiper {
  z-index: auto;
  .swiper-wrapper,
  .swiper-pagination {
    z-index: auto;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;

  .swiper-slide {
    padding: 2rem 0rem;
    height: initial;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-family: unset;
    font-size: 2rem;
    @include media-colour-scheme(color, $textColour, $white100);
  }
  .swiper-button-prev {
    left: 0px;
    z-index: auto;
    &:after {
      content: "\2329";
    }
  }
  .swiper-button-next {
    right: 0px;
    z-index: auto;
    &:after {
      content: "\232A";
    }
  }
}

// ReactJS-Popup
.popup-content {
  padding: 0.25rem 0.5rem;
  border: 1px solid;
  border-radius: $smallBorderRadius;
  @include media-colour-scheme(background-color, $white95, $black95);
  @include animation(anvil $transitionShort $transitionBezier forwards);
}
