#resume {
  text-align: justify;

  ul {
    list-style: disc;
    padding-inline-start: 2rem;
    li {
      ul {
        list-style: circle;
      }
    }
  }

  @include all-headings {
    text-align: initial;
  }

  .RoleDate {
    text-align: right !important;
  }
}
