.SectionsWrapper {
  // margin-top: $navbarHeight;

  //
  section {
    padding: 0rem 0rem 1rem 0rem;
    .SectionHeading {
      margin-bottom: 0.5rem;
    }
  }
  // Direct
  & > section {
    padding: 1rem 1rem;
    min-height: calc(100vh - $navbarHeight);
    &:nth-child(odd) {
      @include media-colour-scheme(background-color, $white85, $black85);
    }
    &:nth-child(even) {
      @include media-colour-scheme(background-color, $white80, $black80);
    }
    .SectionInner {
      margin: auto;
      @include media-min-width($largerThanLaptop) {
        max-width: 65vw;
      }
    }
  }
}
