nav {
  flex: 1 1 auto;

  ul {
    display: flex;
    gap: 1rem;

    li {
      span {
        text-decoration: none;
        color: $white100;
        cursor: pointer;
        @include hover-opacity {
          text-decoration: underline;
        }
      }
    }
  }
}
