@use "/src/styles/core" as *;

.ModalUnderlay {
  background: colourWithHexAlpha($black100, D0);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  // Index set to same as header, shows above due to HTML display order
  z-index: 1;

  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $mediumBorderRadius;
    // @include media-colour-scheme(
    //   border,
    //   1px solid $white90,
    //   1px solid $black80
    // );
    width: calc(100% - 20px);
    @include media-colour-scheme(background-color, $white95, $black90);
    @include media-min-width($largerThanTablet) {
      width: 650px;
    }

    .Inner {
      position: relative;
      border-radius: inherit;
      .Top {
        display: flex;
        align-items: center;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        height: 60px;
        padding: 10px 15px;
        @include media-min-width($largerThanMobile) {
          padding: 10px 20px;
        }
        @include media-min-width($largerThanTablet) {
          padding: 10px 30px;
        }
        @include media-colour-scheme(
          border-bottom,
          1px solid $white60,
          1px solid $black80
        );
        @include media-colour-scheme(background-color, $white90, $black80);
        .Title {
          font-size: 2rem;
          font-weight: 400;
          padding: 0px;
          margin: 0px;
        }
        .Cross {
          cursor: pointer;
        }
      }
      .Content {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        padding: 20px 20px;
        @include media-min-width($largerThanMobile) {
          padding: 25px 25px;
        }
        @include media-min-width($largerThanTablet) {
          padding: 30px 30px;
        }
      }

      .Bottom {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        @include media-colour-scheme(
          border-top,
          1px solid $white60,
          1px solid $black80
        );

        &.Buttons {
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
          padding: 0px 15px;
          @include media-min-width($largerThanMobile) {
            padding: 0px 20px;
          }
          @include media-min-width($largerThanTablet) {
            padding: 0px 30px;
          }
          @include media-colour-scheme(background-color, $white90, $black80);
          .Btn {
            font-size: 1rem;
            min-width: 120px;
          }
        }
      }
    }

    &.FullSize {
      max-height: initial;
      width: calc(100vw - 20px);
      height: calc(100vh - 20px);
      @include media-min-width($largerThanMobile) {
        width: calc(100vw - 60px);
        height: calc(100vh - 60px);
      }

      .Inner {
        width: 100%;
        .Content {
          max-height: none;
          height: calc(100vh - 180px);
        }
      }
    }
  }
}
