header {
  position: fixed;
  top: 0;
  padding: 0 1rem;
  background-color: $headingColour;
  height: $navbarHeight;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .MeMoji {
    padding: 0.5rem 0.5rem;
    height: 100%;
  }
}
