header {
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  // Needed to override the z-index from Swiper
  z-index: 1;
  @include media-colour-scheme(
    background-color,
    $headingColour,
    $headingColourReverse
  );
  height: $navbarHeight;
  @include media-colour-scheme(gap, 0.5rem, 1rem);
  @include transition(gap $transitionLong $transitionTiming);
  display: flex;
  align-items: center;

  .HamburgerMenuWrapper {
    width: 30px;
  }

  .MeMoji {
    height: 100%;
    background-color: $headingColour;
    @include transition(border-radius $transitionLong $transitionTiming);
    @include media-colour-scheme(
      border-radius,
      $smallBorderRadius,
      $circleBorderRadius
    );
  }
}
