header {
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  @include media-colour-scheme(
    #{background-color},
    $headingColour,
    $headingColourReverse
  );
  height: $navbarHeight;
  gap: 0.5rem;
  display: flex;
  align-items: center;

  .MeMoji {
    height: 100%;
    background-color: $headingColour;
    @include transition(border-radius $transitionLong $transitionTiming);
    @include media-colour-scheme(
      border-radius,
      $smallBorderRadius,
      $circleBorderRadius
    );
  }
}
