@use "/src/styles/core" as *;

.ContactSection {
  margin-top: 1rem;

  .ContactLink {
    text-decoration: none;
  }
  .TextLink {
    // text-decoration: underline;
    user-select: text;
  }

  .RightAligned {
    @include media-min-width($largerThanMobile) {
      text-align: right;
    }
  }
}
