.Link {
  color: unset;
  &.NoTextDecoration {
    text-decoration: none;
  }
  &:focus-visible {
    outline: none;
  }
  @media print {
    &.NoPrintDecoration {
      text-decoration: none;
    }
  }
}
